torch==1.7.0
emoji==0.6.0
torchvision==0.8.1
catalyst==20.11
imageio==2.9.0
opencv-python==4.4.0.46
albumentations==0.5.2
kornia==0.4.1
scikit-image==0.17.2
reaction==20.2
aiotg==1.0.0
fastapi[all]==0.62.0
aio-pika==6.1.1
yarl==1.6.3
